# Environment variables
.env
.env.local
.env.production

# Android
android/build/
android/.gradle/
android/app/build/

# iOS
ios/build/

# Node modules - SADECE server için
server/node_modules/

# React Native modules - SADECE mobile için
mobile/node_modules/

# React Native diğer
.expo/
dist/
*.log
.DS_Store